////
/// @group Typography
/// @author Roque Alonso
///

/// Replaces characters in a string. Font-face mixin helper
/// @param {String} $string - Input string
/// @param {String} $search - String to change
/// @param {String} $replace [""] - Value
/// @group Helpers
///
/// @example str-replace('Esto es un string','string', 'perro verde') // "Esto es un perro verde"
@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

/// Mixin to create font-face rules
/// @param {Keyword} $name - Font name (as named in css)
/// @param {String} $path - path to the font file
/// @param {Number | Keyword} $weight [null] - font weight
/// @param {Keyword} $style [null] - font style
/// @param {Map} $exts [eot woff2 woff ttf svg] - Extensions to include in the font-face rule
///
/// @require {function} str-replace
/// @example @include font-face(Samplina, fonts/Samplinal, 500, normal, eot woff2 woff);


@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (eot: "?",
        svg: "#"+ str-replace($name, " ", "_"));

    $formats: (otf: "opentype",
        ttf: "truetype"
        );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
        font-display: swap;
    }
}

/// Mixin that includes a default heading style
/// @param {String} $font-size [20px]
/// @requires $font-headings
/// @requires $font-color-heading
@mixin header-config($font-size: 20px) {
    font-family: $font-headings;
    color: $font-color-heading;
	font-size: $font-size;
    font-weight: normal;
    margin: 0;
}

/// Mixin to ellipsis a text
@mixin text-ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}