@import '../../abstract/abstracts';

.pictureAction {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}