@import "../../abstract/abstracts";
@import "vars";


.mainHeader {
    position: relative;
    z-index: map-get($zIndexHeader, mainHeader);

    &:after {
        content: "";
        background-image: linear-gradient(90deg, #000, #000 50%, transparent 50%, transparent 100%);
        background-size: 2px;
        position: absolute;
        top: $mainHeader-height - 1;
        left: 0;
        width: 100%;
        height: 1px;
        display: block;
        z-index: map-get($zIndexHeader, mainHeader);
    }

    &__wrapper {
        max-width: map-get($BREAKPOINTS, xl);
        margin: 0 auto;
        height: $mainHeader-height;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: map-get($zIndexHeader, mainHeader);
        padding: 0 $general-margin;
        background: map-get($GENERAL_COLORS, level-5);

        @include media-query (tablet) {
            padding: 0 $general-margin-large;
        }
    }

    &__side {
        @include grid-col(2, 8, $header-side-gutter);
        @include grid-col(1, 3, $header-side-gutter, tablet);
        height: 100%;
        display: flex;
        align-items: center;
        @extend %flex-elastic-width;
    }
}


.headerNavigation {
    &__item {
        padding-left: $general-margin;
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 100%;

        &:first-child {
            padding: 0;
        }
    }

    &__itemLabel {
        display: none;
        font-family: $headerNavigation-font;
        font-size: 15px;
        padding-left: 7px;
    }

    @include media-query(tablet) {
        &__item {
            padding-left: $general-margin-large; 
        }

        &__itemLabel {
            display: inherit;
        }
    }
}

.headerLogoSide {
    max-width: unset;
    justify-content: center;
    @include grid-col(4, 8, $header-side-gutter, tablet);

    &__main {
        height: 100%;
        display: flex;
        align-items: center;

        &--isActive {
            display: block;
        }

        .svgLogo {
            width: 178px;
        }
    }

    &__reel {
        display: none;
    }

    // Cambiar por tpl, javascript?
    // @include media-query(tablet) {
    //     &__main {
    //         display: none;
    //     }
    // }
}

.headerLogin {
    justify-content: flex-end;

    .ctaButton {
        margin: 0 5px;
        cursor: pointer;

        &:last-child {
            margin: 0;
        }
    }

    .loginButton {
        display: none;
    }

    .registerButton {
        display: none;
    }

    @include media-query(tablet) {
        .registerButton {
            display: flex;
        }
    }

    @include media-query(desktop) {
        .loginButton {
            display: flex;
        }
    }
}