@import '../abstract/abstracts';
@import '../modules/header/vars';

.mainContainer {
  padding-top: $mainHeader-height;
  height: 100%;
}

.articleContainer {
  position: relative;
  @include makeDefaultContainer();

  @include media-query (desktop) {
    padding: 0 12px;
  }
}

.footer {
  margin-top: 120px;
}
